body{
	font-family: Arial, Helvetica, sans-serif;
	background-image: url("image/1.jpg");
	background-size: 100%;
}
#container{
	width: 100%;
	margin: 20px auto;
}
#calculator{
	width: 320px;
	height: 520px;
	background-color: silver;
	margin: 0 auto;
	top: 20px;
	position: relative;
	border-radius: 10px;
}
#result{
	height: 120px;
	background-color: rgb(89, 114, 184);
	border:3px solid silver;
	border-radius: 5%;
}
#history{
	text-align: right;
	height: 20px;
	margin: 0 20px;
	padding-top: 20px;
	font-size: 15px;
	color: #749ab3;
}
#output{
	text-align: right;
	height: 60px;
	margin: 10px 20px;
	font-size: 30px;
}
#keypad{
	height: 400px;
	background-color: rgb(55, 73, 121);
}
.operator, .number{
	width: 55px;
	height: 55px;
	margin: 12px;
	float: left;
	border-radius: 10%;
	border-width: 0;
	font-weight: bold;
	font-size: 18px;
}
.number{
	background-color: white;
}
.number, .operator{
	cursor: pointer;
}
.operator:active, .number:active{
	font-size: 10px;
}
#clear{
	width: 66%;
	border-radius: 5px;
}

footer {
	color: rgb(211, 201, 201);
	text-align: center;
}